body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    color: #333;
    max-width: 750px;
    margin: 40px auto;
    background-color: #F3F3F3;
}

h1, h2, h3 {
    margin-bottom: 0.25em;
}

h2 {
    font-size: 120%;
}

footer {
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#statistics {
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    background-color: white;
}

td, th {
    padding: 0.25em;
    border: thin solid black;
}
